@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-color: 22, 16, 26;
    --background-color: #e8e8e8;
    --color-primary: 233, 7, 7;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --text-color: 237, 208, 198;
      --background-color: #401d19;
      --color-primary: 255, 104, 44;
    }
  }

  html {
    font-size: 24px;
  }

  body {
    color: rgb(var(--text-color));
    background-color: var(--background-color);
  }
}
