@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-color: 22, 16, 26;
    --background-color: #e8e8e8;
    --color-primary: 233, 7, 7;
    --link-color-hover: 129, 103, 41;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --text-color: 214, 213, 168;
      --background-color: #1b2430;
      --color-primary: 129, 103, 151;
      --link-color-hover: 115, 128, 245;
    }
  }

  html {
    font-size: 20px;
  }

  body {
    color: rgb(var(--text-color));
    background-color: var(--background-color);
    padding-bottom: 200px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: rgb(var(--color-primary));
  }

  a:hover {
    color: rgb(var(--link-color-hover));
  }
}

@layer components {
  .eightBitBorder {
    box-shadow:
      6px 0 rgba(var(--color-primary), 0.3),
      0 -6px rgba(var(--color-primary), 0.3),
      -6px 0 rgba(var(--color-primary), 0.3),
      0 6px rgba(var(--color-primary), 0.3);
    margin: 6px auto;
  }
}
